:root {
    --color-text: #14141A;
    --color-background-black: #14141A;
    --color-text-gray: #B9B9BA;
    --color-white: #fff;
    --color-blue: #35C8FF;
    --color-pink: #FF2E7E;
    --color-purple: #AA33FF;
    --color-green: #00EB81;

    --border-radius: 8px;
    --border-color: 8px;
    
}

p,
h2,
h3 {
    letter-spacing: 0.1em;
}
  
.apiusecase_container {
    padding-top: 75px;
    padding-bottom: 75px;
}
  
.apiusecase_container .dbio-default-button-container {
    margin-top: 60px;
}

.apiusecase_text_content_column {

    max-width: 800px;
    padding: 0 24px;
    margin: auto;
}

.apiusecase_text {
    font-weight: 500;
    font-size: 17px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.01em;
    color: var(--color-text-gray);
}



/* 

apiusecase_tags

*/

.apiusecase_tags_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: auto;
    align-content: start
}

.apiusecase_tags_container .tag {
    background: #241F33;
    /* box-shadow: 0px 2px 4px rgba(97, 97, 97, 0.18), 0px 4px 8px rgba(97, 97, 97, 0.18); */
    border-radius: 26px;
    height: 36px;
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 11px 20px;
    text-align: center;
    flex: 0 0 auto;
    margin: 9px;
}

.apiusecase_tags_container .tag:hover {
    background: #392F51;
}  

.apiusecase_tags_container .tag.active {
    background: linear-gradient(99.69deg, #3E44FE -10.66%, #BB5CFF 114.64%);
}

.apiusecase_tags_container .tag.active:hover {
    background: linear-gradient(99.69deg, #3E44FE -10.66%, #BB5CFF 114.64%);
} 
 
.apiusecase_tags_mobile_container {
    max-width: 767px;
    width: 96%;
    display: none;
    margin: auto;
}

@media only screen and (max-width:767px) {
    .apiusecase_tags_mobile_container {
        display: block;  
    }    
    .apiusecase_tags_container {
        display: none;  
    }  
}

.select-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #66666A;
    border-radius: var(--border-radius);
}
.select {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
}
.select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    font-size: 16px;
    font-weight: 500;
    color: #B9B9BA;
    height: 48px;
    line-height:48px;
    background: #14141A;
    cursor: pointer;
    border-radius: var(--border-radius);
}
.custom-options {
    position: absolute;
    display: block;
    top: 105%;
    left: 0;
    right: 0;
    border: 1px solid #66666A;
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
}
.select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.custom-option {
    position: relative;
    display: block;
    padding: 0 12px 0 12px;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-text);
    line-height: 48px;
    cursor: pointer;
    transition: all 0.5s;
}
.custom-option:hover {
    cursor: pointer;
    background-color: #b2b2b2;
}
.custom-option.selected {
    color: #B9B9BA;
    background-color: #14141A;
}

.arrow {
    position: relative;
    height: 15px;
    width: 15px;
}
.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
}
.arrow::after {
    left: -5px;
    transform: rotate(-45deg);
    background-color: var(--color-white);
}
.arrow::before {
    left: 5px;
    transform: rotate(45deg);
    background-color: var(--color-white);
}
.open .arrow::after {
    left: -5px;
    transform: rotate(-45deg);
}
.open .arrow::before {
    left: 5px;
    transform: rotate(45deg);
}
/*
.tag p {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;

    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}
*/

.apiusecase_apicards_container {
    /* --grid-spacing: 32px;
    display: grid;
    grid-row-gap: var(--grid-spacing);
	grid-column-gap: var(--grid-spacing);
    grid-template-columns: repeat(5, 1fr); */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    margin-left: -16px;
    margin-right: -16px;
    overflow: hidden;
}

.apiusecase_apicards_mobile_container {
    display: none;
    max-width: 96%;
    margin-left: auto;
    margin-right: auto;
    min-height: 175px;
    margin-top: 35px;
}

.apiusecase_apicards_container .apicard {
    /*width: 240px;*/
    width: calc(20% - 32px);
    height: 210px;
    padding: 20px 16px;
    border-radius: 6px;
    flex-basis: 240px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #66666A;
    background: #14141A;
    position: relative; 
    cursor: pointer;
    margin: 16px;
}

.apicard.selected {
    background: linear-gradient(180deg, rgba(20, 20, 26, 1) 0%, rgba(33, 28, 42, 1) 68.75%);
}

.apicard.disable {
    pointer-events: none;
}

.apicard.disable::after {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    bottom: -2px;
    right: -2px;
    left: -2px;
    width: 105%;
    height: 105%;
    z-index: 2;
    background-color: #14141A;
    opacity: 0.6;
}

.apicard.hidden {
    /* width: 0; */
    /* height: 0; */
    flex-basis: 0;
    overflow: hidden;
    transform: scale(0); 
    padding: 0;
    margin: 0;
    border: none;
}

/* .apicard.hidden * {
    display: none;
} */

.apicard:hover {
    border: none;
    padding: 21px 17px;
}

.apiusecase_container .dbio-default-heading-block .dbio-eyebrow-headline {
    color: #35c8ff;
}

.apiusecase_container .dbio-default-heading-block h2 {
    color: #fff;
}

.apicard_communications:hover {
    border: none;
    background: #35C8FF;      
    background: linear-gradient(149.23deg, #35C8FF 0%, #3E44FE 104.7%);
}

.apicard_media:hover {
    border: none;
    background: #7D33FF;      
    background: linear-gradient(149.43deg, #FFABCB -5.24%, #7D33FF 100%);
}

.apicard_streaming:hover {
    border: none;
    background: #00EB81;
    background: linear-gradient(149.23deg, #00EB81 0%, #35C8FF 104.7%);
}

/* 

apicard_category

*/

.apicard .apicard_category {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 24px;
    max-width: 180px;
}

.apicard_streaming:hover .apicard_category, .apicard_communications:hover .apicard_category, .apicard_media:hover .apicard_category {
    color: var(--color-text);
}

.apicard_communications .apicard_category {
    color: #35C8FF;
}

.apicard_media .apicard_category {
    color: #FF2E7E;
}

.apicard_streaming .apicard_category {
    color: #00EB81;
}

/* 

apicard_icon

*/

.apicard .apicard_icon {
    display: block;
    margin-bottom: 12px; 
    width: 72px;
    height: 72px;
    background-repeat: no-repeat;
    background-size: 100%;
}


/* 

apicard_name

*/

.apicard .apicard_name {
    display: inline-block;
    font-family: 'avenir-next-medium';
    text-transform: uppercase;
    max-width: 170px;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.5;
    position: relative;
}

.apicard .apicard_name:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: -6px;
    left: 0;
    border-bottom: solid 2px var(--color-text);
    width: 100%;
}

.apicard:hover .apicard_name:after {
    border-bottom: solid 2px var(--color-text);
}

.apicard_communications .apicard_name:after {
    border-color: #35C8FF;
}

.apicard_media .apicard_name:after {
    border-color: #FF2E7E;
}

.apicard_streaming .apicard_name:after {
    border-color: #00EB81;
}

/* .apicard_purple.apicard_style_accent .apicard_name:after {
    border-color: #AA33FF;
} */

.apicard:hover .apicard_name {
    color: #14141A;
}

.apicard .apicard_name {
    color: #fff;
}



/* 

apicard_description

*/

.apicard .apicard_description {
    font-weight: 500;
    font-size: 17px;
    line-height: 1.6; 
	margin-top: 15px;
}

.apicard:hover .apicard_description {
    color: var(--color-text);
}

.apicard .apicard_description {
    color: var(--color-text-gray);
}

.apiusecase_apicards_container .apicard.apiusecase_display {
    height:430px;
	width: calc(25% - 32px);
}
.apiusecase_container .select__trigger span {
    text-transform: capitalize;
} 
.apiusecase_container span.custom-option.js_mobile_tag {
    text-transform: capitalize;
}
.apiusecase_tags_container.btn_label_styles p.tag {
    background: transparent;
    color: #B9B9BA;
    border-radius: 0px;
 
}
.apiusecase_tags_container.btn_label_styles p.tag.active , .apiusecase_tags_container.btn_label_styles p.tag:hover {
	background: transparent;
	border-bottom: 2px solid #AA33FF;   
    color: #FFFFFF;
}
.apiusecase_tags_container.btn_label_styles p.tag {
    background: transparent;
    color: #B9B9BA;
    border-radius: 0px;
    border-bottom: 2px solid transparent;
    padding-bottom: 30px;
}


element.style {
}
.apiusecase_tags_container.btn_label_styles p.tag.active, .apiusecase_tags_container.btn_label_styles p.tag:hover {
    background: transparent;
    border-bottom: 2px solid #AA33FF;
    color: #FFFFFF;
}
.apiusecase_tags_container.btn_label_styles p.tag {
    background: transparent;
    color: #B9B9BA;
    border-radius: 0px;
    border-bottom: 2px solid transparent;
    padding-bottom: 30px;
}
.apiusecase_tags_container.btn_label_styles p.tag {
    background: transparent;
    color: #B9B9BA;
    border-radius: 0px;
}
.apiusecase_tags_container.btn_label_styles .tag {
    text-transform: capitalize;
    font-family: 'avenir-next-medium';
    font-weight: 600;
    padding-bottom: 45px !important;
    letter-spacing: .02em;
    font-size: 16px;
	padding: 11px 13px;
}

/* Media queries */
@media only screen and (max-width:1200px) {
	.apiusecase_apicards_container .apicard.apiusecase_display {
		height:460px;
		width: calc(33% - 32px);
	}
	
}
@media only screen and (min-width:1080px) and (max-width:1360px) {
    .apiusecase_apicards_container {
        grid-template-columns: repeat(4, 1fr);
    }
    .apiusecase_apicards_container .apicard {
        width: calc(25% - 32px);
    }
}

@media only screen and (min-width:768px) and (max-width:1079px) {
    .apiusecase_apicards_container {
        grid-template-columns: repeat(3, 1fr);
    }
    .apiusecase_apicards_container .apicard {
        width: calc(33.3% - 32px);
    }    
}

  @media only screen and (max-width:767px) {
    .apiusecase_apicards_container {
        display: none;
    }
	
    .apiusecase_apicards_mobile_container {
        display: flex;        
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        grid-row-gap: unset;
        grid-column-gap: unset;
        width: auto;
        margin-left: -20px;
        margin-right: -20px;
    }
    .apiusecase_apicards_mobile_container::-webkit-scrollbar {
        display: none;
    }
    .apiusecase_apicards_mobile_container .apicard {
        height: 158px;
        margin: auto 8px;
        padding: 14px 12px;
        display: block;
        border: 1px solid #66666A;
        border-radius: 6px;
        flex: 0 0 150px;
    }
	
	.apiusecase_apicards_mobile_container .apicard.apiusecase_display{
		 height:290px;  
	} 
	
    .apicard.hidden {
        display: none;
    }
    .apicard .apicard_category {
        font-size: 9.5px;
        margin-bottom: 20px;
    }
    .apicard .apicard_icon {
        max-width: 48px;
        height: 48px;
    }
    .apicard .apicard_name {
        font-size: 12px;
    }
    .apicard .apicard_description {
        font-size: 13px;
    }
    .apiusecase_text {
        font-weight: 500;
        font-size: 15px;
        line-height: 1.5;
    }
    .site-inner {
        overflow-x: hidden;
    }
}




@media only screen and (max-width: 768px){
    .dbio_notification_bar{
        align-items: flex-start;
        justify-content: center;
        padding: 3px 0px;
        display: block;
    }
    .dbio_notification_bar_text{margin: 0 auto;text-align: center !important;}
    a.dbio_notification_bar_link {text-align: center !important;margin: 0 auto !important;display: inherit !important;} 
	
	
	section.stack_vertically .apiusecase_apicards_mobile_container {
		display: block;
		margin: 20px 0 !important;
		padding: 0px !important;
		display: flex;
		flex-wrap: wrap;
		max-width: 100%; 
	}
	section.stack_vertically .apicard {
		margin-bottom: 20px !important;
		flex: auto;
		width: 44%;
	}
	section.stack_vertically .apiusecase_apicards_mobile_container .apicard {
		text-align: left;
	} 
	section.stack_vertically  .apiusecase_apicards_mobile_container .apicard.apiusecase_display{
		 height:345px;  
	} 

	.apiusecase_container.stack_vertically {
		margin-right: -20px;
		margin-left: -20px;
	}
	
}

@media only screen and (max-width: 550px){
    .dbio_notification_bar{
         padding: 5px 12px;
         height: auto;
    } 
}